*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   
}

.top
{
    background-color: rgb(255, 214, 128);
    width: 100%;
    height: 30vh;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.CuadradoArribaIzquierda
{
    background-color: rgb(255, 181, 76);
    width: 15%;
    height: 80%

}

.ArribaDerecha {
    width: 85%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 60px; 
}
.titulo {
    width: 30%;
    height: 15px;
    background-color: rgb(255, 181, 76); 
    border-radius: 3px;
}

.linea {
    width: 60%;
    height: 10px;
    background-color: white;
    border-radius: 3px;
}

.linea.corta {
    width: 30%;
}
.middle
{
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 55vh;

}

.bottom {
    background-color: rgb(230, 229, 229);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.linea-gris {
    width: 100px;
    height: 10px;
    background-color: rgb(190, 190, 190);
    border-radius: 4px;
}

.linea-blanca {
    width: 70px;
    height: 8px;
    background-color: white;
    border-radius: 4px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
    height: 100%;
    box-sizing: border-box;
}

.cuadro {
    width: 30%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadro::before {
    content: "";
    width: 50%;
    height: 50%;
    display: block;
    border-radius: 5px;
}

.celeste {
    background-color: rgb(196, 237, 241);
}
.celeste::before {
    background-color: rgb(171,224,229);
}

.rojo {
    background-color:rgb(255,153, 120) ;
}
.rojo::before {
    background-color: rgb(246 , 131, 96);
}

.naranja {
    background-color: rgb(255,214 , 128);
}
.naranja::before {
    background-color: rgb(255, 200 , 109 );
}   